apiVersion: apps/v1
kind: Deployment
metadata:
  name: device-service
  namespace: testing
spec:
  replicas: 1
  selector:
    matchLabels:
      app: device-service
      version: v1
  template:
    metadata:
      labels:
        app: device-service
        version: v1
    spec:
      containers:
        - name: device-service
          image: yaninyzwittmwa/devices:latest
          args: ["./devices", "-config", "/config/config.yaml"]
          ports:
            - containerPort: 50051
              name: grpc
          volumeMounts:
            - name: config
              mountPath: /config
              readOnly: true
      volumes:
        - name: config
          configMap:
            name: device-service-config

---
apiVersion: v1
kind: Service
metadata:
  name: device-service
  namespace: testing
spec:
  selector:
    app: device-service
  ports:
    - name: grpc
      port: 50051
      targetPort: 50051
      protocol: TCP
