apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-service
  namespace: testing
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway-service
      version: v1
  template:
    metadata:
      labels:
        app: gateway-service
        version: v1
    spec:
      containers:
        - name: gateway-service
          image: yaninyzwittmwa/gateway:latest
          args: ["./gateway", "-config", "/config/config.yaml"]
          ports:
            - containerPort: 8080
              name: http
          volumeMounts:
            - name: config
              mountPath: /config
              readOnly: true

      volumes:
        - name: config
          configMap:
            name: gateway-service-config

---
apiVersion: v1
kind: Service
metadata:
  name: gateway-service
  namespace: testing
spec:
  selector:
    app: gateway-service
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
